.container{
    max-width: 900px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}