.header{
    background-color: #4484ce;
    position: fixed;
    width: 100%;

    .title{
        width: 80%;
        display: inline-block;
        text-align: center;
    

        h2{
            padding: 14px;
            font-size: 30px;
            font-family: monospace;
            color: #fff;
        }

    }

    .user{
        width: 19%;
        display: inline-block;
        
        div{
            color: #fff;
            float: right;
            display: flex;
            align-items: center;
        }
        
    }
}




