.content{
    padding-top: 58px;
    .container{
        .page-content{

            .page-content-info{
                padding-top: 17px;
                text-align: center;
                font-size: 18px;
                font-family: sans-serif;
            }

            background-color: #f3e5b9;
        }
    
    }

    
}


.first-bitcoin-window{
    border: 4px solid #4056a1;
    margin: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-family: sans-serif;  

    .chart{
        width: 26%;
    }

    .chart-area {
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .chart-number{
        font-size: 58px;
        padding-left: 10px;
    }

    .bar-chart {
        display: flex;
        height: 50px;
        width: 100%;
        position: relative;
        z-index: 99;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 10px;
    }

    .bar-chart span {
        display: block;
        width: 14px;
        background: #009be2;
        border: 1px solid #000;
        position: relative;
    }
    .bar-chart span i {
        width: 100%;
        position: absolute;
        bottom: 100%;
        text-align: center;
        font-size: 9px;
        padding-bottom: 3px;
        font-style: normal
    }

    .bitcoin-icon{
        display: flex;
        align-items: center;
        
        .bitcoin-img{
            background-color: #ff7f27;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            margin: 5px 7%;
            
        }

        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .bitcoin-title {
            font-size: 36px;

        }

        .bitcoin-title-abbr{
            align-self: flex-end;
            margin-left: -40px;
            font-size: 15px;
            font-weight: bold;

        }
    }

    .bitcoin-detail{
            display: flex;
            margin: 10px auto;
            align-items: center;
        }

    .price-title{
        display: inline-block;
        font-weight: normal;
        padding-left: 26px;
        font-size: 14px;
    }

    .price-value{
        display: inline-block;
        padding-left: 16px;
        font-weight: bold;
        font-size: 25px;
    }

    .market-value{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }

    .market-title{
        display: inline-block;
        font-weight: normal;
        padding-left: 26px;
        font-size: 14px;
    }

    .market-price{
        display: inline-block;
        padding-left: 16px;
        font-size: 14px;
    }

    .text-box {
        position: relative;
        top: 16px;
        left: 18px;
        border: 1px solid red;
        text-align: center;
        width: 80%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: space-around;
        background: linear-gradient(to bottom, #fff 0%, #fff 50%, #f3e5b9 50%, #f3e5b9 100%);
    }


    .comments{
        width: 37%;

        .bitcoin-sub-def{

            font-size: 10px;
            padding-top: 5px;
          
          span{
            font-weight: bold;
          }  
        }

        .bitcoin-list{
            display: flex;
            justify-content: space-around;
            font-size: 10px;
            padding-top: 4px;
        }

        ul{
            list-style:none;
            
            li{
                margin-top: 4px;  
            }

            a{
                text-decoration: none;
            }
        }

        .bitcoin-lt-list{
            li::before {
                content: '+';
                background-color: #8bc54c;
                color: #fff;
                border-radius: 50%;
                display: inline-flex;
                width: 10px;
                height: 10px;
                justify-content: center;
                align-items: center;
                margin-right: 4px;
                font-size: 10px;
            }
        }

        .bitcoin-rt-list{
            li::before {
                content: '-';
                background-color: #e21d25;
                color: #fff;
                border-radius: 50%;
                display: inline-flex;
                width: 10px;
                height: 10px;
                justify-content: center;
                align-items: center;
                margin-right: 4px;
                font-size: 10px;
            }
        }

    }

    .social-feed {
        font-size: 12px;
        margin-top: 10px;

        li.twitter {
            background-image: url(../img/twitter-icon.png);
            padding-left: 15px;
            background-repeat: no-repeat;
            background-size: auto 12px;
            border-radius: 2px;
        }

        li.youtube {
            background-image: url(../img/youtube-icon.png);
            padding-left: 15px;
            background-repeat: no-repeat;
            background-size: auto 11px;
            border-radius: 2px;
        }

        li.reddit {
            background-image: url(../img/reddit-icon.png);
            padding-left: 15px;
            background-repeat: no-repeat;
            background-size: auto 12px;
            border-radius: 2px;
        }

        li.gnews {
            background-image: url(../img/gnew-icon.jpg);
            padding-left: 15px;
            background-repeat: no-repeat;
            background-size: auto 10px;
            border-radius: 2px;
        }
    }

    .top-comment{
        margin-top: 6px;

        .top-comment-user {
            display: flex;
            align-items: center;
            font-size: 12px;
        }

        .top-comment-btn {
            display: flex;
            font-size: 11px;
            justify-content: center
        }

        .agree {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #e6eaf3;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #a4aed2;
        }

        .agree:hover{
            color: #4056a1;
            transition: linear all 0.25s;
        }

        .not-agree {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #eed8d8;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #dc9898;
        }

        .not-agree:hover{
            color: #e21d25;
            transition: linear all 0.25s;
        }

        .comment-icon {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #e4e8f1;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #a4aed2;
        }

        .comment-icon:hover{
            color: #4056a1;
            transition: linear all 0.25s;
        }


    }
    

    .historical-comments{
        width: 36%;
    }
}

