.sidebar-wrapper{
    position: fixed;
    right: 0;
    top: 58px;
    width: 16.3%;
    text-align: center;

    .show-comments-title {
	    background-color: #6e7474;
		color: #fff;
		padding-top: 5px;

		span.close-comments {
		    position: relative;
		    top: 0px;
		    right: -44%;
		    cursor: pointer;
		}

		span.close-comments:hover {
			opacity: 0.5;
			transition: lienar all 0.25s;
		}

		hr{
			color:#8b8b8b;
			padding: 0;
			margin: 0;
		}

		p {
		    font-size: 12px;
		}

		p.bt-coin {
		    font-size: 20px;
		    font-weight: bold;
			padding-bottom: 6px;
		}

		.comment-btn {
		    display: flex;
		    justify-content: center;
			border-bottom: 1px solid #8b8b8b;


			div{
				padding: 10px;
				font-size: 18px;
   				font-weight: bold
			}

			div:hover{
				background-color: #efbe2a;
				color: #1e2631;
				transition: linear all 0.25s;
				cursor: pointer;
			}
		}

		.new {
		    width: 50%;
		}

		.best {
		    width: 50%;
		}
	}

	.sidebar-comment {
	    box-shadow: 2px 1px 3px 0px black;
	}

	.sidebar-comment-user {
	    padding: 6px;
	    font-size: 10px;
	
		span:first-child {
		    float: left;
		}
	}

	.top-comment-btn {
	    display: flex;
	    font-size: 10px;
	    align-items: center;
	    justify-content: center;

	    .agree {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #e6eaf3;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #a4aed2;
        }

        .agree:hover{
            color: #4056a1;
            transition: linear all 0.25s;
        }

        .not-agree {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #eed8d8;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #dc9898;
        }

        .not-agree:hover{
            color: #e21d25;
            transition: linear all 0.25s;
        }

        .comment-icon {
            margin-right: 6px;
            margin-bottom: 3px;
            background-color: #e4e8f1;
            cursor: pointer;
            padding: 1px 0px 0px 3px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            color: #a4aed2;
        }

        .comment-icon:hover{
            color: #4056a1;
            transition: linear all 0.25s;
        }
	}

	
}